{% extends 'base.html' %}
{% block title %} Edit Profile {% endblock %}

{% block content %}
    <section class="ftco-section contact-section register">
            <div class="container">
                <div class="row block-9 justify-content-center">
                    <div class="col-md-6 order-md-last d-flex">
                        <form method="POST" enctype="multipart/form-data" class="bg-light p-5 contact-form">
                            {% csrf_token %}
                            {% if form.errors %}
                                <div class="alert alert-danger alert-dismissible" role="alert">
                                    <div id="form_errors">
                                        {% for key, value in form.errors.items %}
                                            <strong>{{ value }}</strong>
                                        {% endfor %}
                                    </div>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            {% endif %}
                            <p class="navbar-brand center">Edit Profile<span>.</span></p>
                            <div class="form-group">
                                {{ form.first_name }}
                            </div>
                            <div class="form-group">
                                {{ form.last_name }}
                            </div>
                            <div class="form-group">
                                {{ form.username }}
                            </div>
                            <div class="form-group">
                                {{ form.email }}
                            </div>
                            <div class="form-group">
                                {{ form.image }}
                            </div>
                            <div class="form-group">
                                {{ form.bio }}
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Update" class="btn btn-primary py-3 px-5">
                            </div>
                        </form>

                    </div>
                </div>
            </div>
    </section>
{% endblock %}
